
.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    background-color: var(--background-color-white);
    padding: 15px;
}

.cardHeading {
    margin: 0;
    font-size: var(--heading---h4---regular);
    color: var(--grey-text-color);
}